body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.pro {
    text-decoration: underline;
}

h1 {
    font-family: cursive;
    font-size: 250%;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    /* line-height: 2; */
}

p {
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

a {
    color: #08595c;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.sc {
    font-size: 362.5%;
}

.im {
    width: 11%;
    margin: 0 auto 0 auto;
    font-family: 'Dancing Script', cursive;
}

.top {
    background-color: #E4F9F5;
    padding: 20px;
    position: relative;
    padding-top: 100px;
}

.topcloud {
    position: absolute;
    margin-left: 10%;
    padding-bottom: 10%;
    top: 40px;
}

.bottomcloud {
    position: absolute;
    left: 250px;
}

hr {
    border: dotted #EAF6F6;
    border-bottom: none;
    width: 8%;
    margin: 80px auto;
}

.middle {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

.myimg {
    height: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill {
    height: 180px;
    width: 180px;
    border-radius: 100px;
    float: left;
    margin-right: 30px;
}

.skill1 {
    height: 180px;
    width: 180px;
    float: right;
    margin-left: 30px;
}

.contactmsg {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.BUTTON_VCT {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    color: #EAF6F6;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 22px;
    -webkit-box-shadow: 1px 1px 0 0 #000000;
    -moz-box-shadow: 1px 1px 0 0 #000000;
    box-shadow: 1px 3px 0 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_VCT:hover {
    border: solid #FFAE00 1px;
    background: #B9D10C;
    background-image: -webkit-linear-gradient(top, #B9D10C, #1E62D0);
    background-image: -moz-linear-gradient(top, #B9D10C, #1E62D0);
    background-image: -ms-linear-gradient(top, #B9D10C, #1E62D0);
    background-image: -o-linear-gradient(top, #B9D10C, #1E62D0);
    background-image: -webkit-gradient(to bottom, #B9D10C, #1E62D0);
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 20px;
    margin-top: 30px;
}