body {
    margin: 0%;
}

.top {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
}

.mid {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.bottom {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}